/* Hide scrollbar for all browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Smooth scrolling */
.smooth-scroll {
  scroll-behavior: smooth;
}
